<div class="row" data-bind="visible:currentAdminItem() == false">
	<div class="col-md-4">
		<h3>Avatars</h3>
		<a data-bind="click:deleteSelected" href="">Delete Selected</a><br/><br/>
		<a href="{{root}}/admin/worlds">Worlds List</a><br/>
		<a href="{{root}}/admin">Admin Page</a>
	</div>
	<div class="adminDisplayList col-md-4" style="margin:20px 0;">
		<table class="table table-striped" style="border: 1px solid #ddd;">
			<tr>
				<th style="border:none; background:#FFF"><input type="checkbox" id="selectAllBox" class="checkAllBox" data-bind="click:handleSelectAll" /></th>
				<th style="border:none; background:#FFF">Name</th>
				<th style="border:none; background:#FFF"># of Textures</th>
			</tr>
			<tbody data-bind="foreach:adminDisplayList" style="border:none">
				<td><input type="checkbox" class="checkboxes" /></td>
				<td><a data-bind="text:$data.model, attr:{href:'#'+$data.model}" href=""></a></td>
				<td><span data-bind="text:$data.textures.length"></span></td>
			</tbody>
		</table>
		<p>Upload a model file:</p>
		<form method="post" action="{{root}}/vwfDataManager.svc/avatarupload" enctype="multipart/form-data">
			<input type="file" name="modelFile" /><br/>
			<input type="submit" value="Upload" />
		</form>
	</div>
</div>
<div class="row" data-bind="visible:currentAdminItem() != false">
	<div class="col-md-4">
		<h3>Avatars</h3>
		<a href="#">View full list of models</a><br/><br/>
		<a href="#" data-bind="click:deleteSelectedWorlds">Delete Selected</a>
	</div>
	<div class="col-md-4" >
		
		<div style="border-bottom:1px #eee solid;margin-bottom:20px;">
			<h3 data-bind="text:currentAdminItem().model"></h3>
		</div>
		<table class="table table-striped" style="border: 1px solid #ddd;padding-top:20px;">
			<tr>
				<th style="border:none; background:#FFF"><input type="checkbox" id="selectAllWorldBox" class="checkAllBox" data-bind="click:handleSelectAll" /></th>
				<th style="border:none; background:#FFF">Texture</th>
				<th style="border:none; background:#FFF">Thumbnail</th>
			</tr>
			<tbody data-bind="foreach:currentAdminItem().textures" style="border:none">
				<td><input type="checkbox" class="worldCheckboxes" /></td>
				<td><a data-bind="text:$data.texture?$data.texture:'Upload texture', attr:{href:'{{root}}/admin/worlds#'+$data.texture}" href=""></a></td>
				<td><a data-bind="text:$data.thumbnail?$data.thumbnail:'Upload thumbnail', attr:{href:'{{root}}/admin/worlds#'+$data.thumbnail}" href=""></a></td>
			</tbody>
		</table>
	</div>
</div>
<div class="row"  data-bind="visible:currentAdminItem() != false">
	<div class="col-md-offset-4 col-md-4" style="border-top:1px solid #eee;padding-top:20px;">
		<p>Upload a texture image:</p>
		<form method="post" data-bind="attr:{action: '{{root}}/vwfDataManager.svc/textureupload?model=' + currentAdminItem().model}" enctype="multipart/form-data">
			<input type="file" name="textureFile" /><br/>
			<input type="file" name="thumbnailFile" /><br/>
			<input type="submit" value="Upload" />
		</form>
	</div>
</div>
<script>
	vwfPortalModel.userWorlds = ko.observableArray([]);
	vwfPortalModel.inventoryItems = ko.observableArray([]);
	vwfPortalModel.adminDisplayList({{{avatarsList}}});
	
	$.post(root + '/data/get_users', function(o){
		o = JSON.parse(o);
		var newObject = [];
		
		for(var i = 0; i < o.length; i++){
			if(o[i]){
				newObject.push(o[i]);
			}
		}

		//vwfPortalModel.adminDisplayList(newObject);
		handleHash("model");
	}); 
	
	

	
	vwfPortalModel.deleteSelected = function(data){
		
		var tempUserArr = [], tempArr = [], cacheQuery = $('input:checked').filter('.checkboxes');
		for(var i = 0; i < cacheQuery.length; i++){
			tempUserArr.push(ko.dataFor(cacheQuery[i]));
			tempArr[i] = tempUserArr[i].Username ? tempUserArr[i].Username : tempUserArr[i];
		}
		
		//Make the request to the server to delete these users
		$.post(root + '/data/delete_users', JSON.stringify(tempArr), function(o){
			
			for(var i in tempUserArr){
				vwfPortalModel.adminDisplayList.remove(tempUserArr[i]);
			}
		});
		console.log("Delete users ", tempUserArr);
		$('input').prop("checked", false);
		vwfPortalModel.setSelectAll(false);
	}; 	
	
	vwfPortalModel.updateUser = function(e){
		//Make the request to the server to update these users
		$.post(root + '/data/update_user', JSON.stringify(vwfPortalModel.currentAdminItem()), function(o){
			console.log("done");
		});
	}; 
	
	vwfPortalModel.deleteSelectedWorlds = function(data){
			
		var tempWorldArr = [], dataSendArr = [], tempStr = '', cacheQuery = $('input:checked').filter('.worldCheckboxes');
		for(var i = 0; i < cacheQuery.length; i++){
			tempStr = ko.dataFor(cacheQuery[i]).id;
			
			if(tempStr){
				tempWorldArr.push(tempStr);
				dataSendArr.push('_adl_sandbox_' + tempStr + '_');
			}
		}
		
		console.log("Delete worlds ", tempWorldArr, dataSendArr);

		//Make the request to the server to delete these worlds
		$.post(root + '/data/delete_worlds', JSON.stringify(dataSendArr), function(o){
			
			for(var i in tempWorldArr){
				for(var g in vwfPortalModel.userWorlds()){
					if(vwfPortalModel.userWorlds()[g].id == tempWorldArr[i]){
						vwfPortalModel.userWorlds.splice(g, 1);
					}
				}
			}
		});
		
		$('input').prop("checked", false);
		vwfPortalModel.setSelectAll(false);
	}; 
	
	window.onhashchange = function(){
		handleHash("model");
	};
	
	$(document).ready(function(){	
		ko.applyBindings(vwfPortalModel);
		getLoginInfo();
	});
</script>