#leftpane
{

background: blue;
position: absolute;
top: 0px;
height: 100%;
width: 250px;


}

#rightpane
{
	background: black;
position: absolute;
top: 0px;
height: 100%;
left: 250px;
right: 0%;
}

body
{
	margin:0px;
overflow: hidden;
height: 100%;
position: absolute;
width: 100%;
}

#runningworlds
{
border-bottom: 15px inset #EEE;
min-height: 1em;
background: #DDE;
height: 25%;
overflow-x: hidden;
overflow-y: scroll;
}
#allworlds
{
background: #DDE;
bottom: 100%;
width: 100%;
height: calc(75% - 3em - 30px);
overflow-x: hidden;
overflow-y: scroll;
}
.state:nth-child(even)
{
	background: rgb(186, 190, 253)
}
.state:nth-child(odd)
{
	background: rgb(207, 207, 255)
}
#previewpane
{
height: 50%;
background: black;

width: 65%;
margin-left: auto;
margin-right: auto;
}
#datapane
{
	
top: 50%;
height: 50%;
background: #DDE;
width: 100%;
}

.allstate
{
	color: white;
}

.runningstate
{
	
	color: white;
}
.runningstate:hover
{
	
}
.state
{
font-family: sans-serif;
font-size: 1.3em;
/* border: 1px solid #BBFAFF; */
margin: 2px;
background: #BBD3FF;
/* border-radius: 10px 10px 10px 10px; */
text-shadow: 0px 0px 3px black;
cursor: pointer;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.state::before
{
display: inline-block;
width: 8px;
color: rgb(87, 128, 255);
content: '-';
background: rgb(87, 121, 255);
white-space: nowrap;
text-overflow: initial;
margin-right: 1em;
/* border-radius: 10px 0px 0px 10px; */
text-shadow: none;
border-right: 2px solid black;
}
.allstate:hover
{
	background: #66B;
}

#currentWorld
{
	width: 100%;
	height: 100%;
}

#datalist
{
	background: white;
	height: 90%;
	border-top: 15px solid #EEE;
	overflow-y: auto;
}

.message
{
overflow: hidden;
white-space: nowrap;
border-bottom: 1px solid #FFF;
font-family: sans-serif;
padding: 2px 2px 2px 0px;
background: #EFEFEF;
}
.message:hover
{
outline:1px solid blue;

}
.message::before
{
width: 10px;
content: 'a';
color: #EEE;
background: #EEE;
border-radius: 0px 5px 5px 0px;
margin-right: .3em;
}

.messagefield
{
	
display: inline-block;
width: 20%;
font-weight: bold;
overflow: hidden;
vertical-align: top;
text-overflow: ellipsis;
}

.messagefield::after
{
	
	
}
.status
{
	background: lightblue;
}
.createNode
{
	background: green;
}
.fireEvent
{
	background: lightsteelblue;
}
.dispatchEvent
{
	background: lightsteelblue;
}
.deleteNode
{
	background: red;
}
.createChild
{
	background: green;
}
.callMethod
{
	background: lightyellow;
}
.setProperty
{
	background: lightgreen;
}
.createProperty
{
	background: lightgreen;
}
.createMethod
{
	background: lightgreen;
}
.createEvent
{
	background: lightgreen;
}
.deleteEvent
{
	background: pink;
}
.deleteMethod
{
	background: pink;
}
.fieldaction
{
	width: 15%;
}
.fieldclient
{
	
}
.fieldnode
{
	width: 20%;
}
.fieldtime
{
	width: 10%;	
}

.fieldtime::before
{
	
}

.fieldaction::before
{
	content: 'Action:';
margin-right: 1em;
font-weight: normal;
color: gray;
}
.fieldclient::before
{
	content: 'Client:';
margin-right: 1em;
font-weight: normal;
color: gray;
}
.fieldnode::before
{
	content: 'Node:';
margin-right: 1em;
font-weight: normal;
color: gray;
}
.fieldtime::before
{content: 'Time:';
margin-right: 1em;
font-weight: normal;
color: gray;
	
}
.fieldtime::after
{content: 'ms';
	
}

.fieldparam0
{

	color:grey;
}


.fieldfield
{
	width: 13%;
}

.fieldfield::before
{
	content: 'Field:';
	margin-right: 1em;
	font-weight: normal;
	color: gray;
}

.fieldparam0::before
{
	content: 'Param 0:';
	margin-right: 1em;
	font-weight: normal;
	color: gray;
}

.worldLabel
{
	background: #EEE;
font-family: sans-serif;
font-weight: bold;
text-align: center;
text-decoration: underline;
background: rgb(116, 166, 255);
color: white;
text-shadow: 1px 1px black;
padding: 7px;
overflow-y: scroll;
}


.stateshot
{

	font-family: sans-serif;
text-align: center;
border-bottom: 1px solid black;
font-size: 1.3em;
box-shadow: 0px -4px 10px gray inset;
background: #EAEAFF;
font-weight: bold;
}
.stateshot:hover
{
	background: red;
}

#datamenu
{
	font-family: sans-serif;
font-size: 18px;
color: gray;
}
.button
{
	display: inline-block;
height: 20px;
text-align: center;
vertical-align: middle;
border: 1px solid #999;
border-radius: 48px;
padding: 10px;
background: -webkit-gradient(linear, left top, left bottom, from(#cfcfcf), to(#f5f5f5));
background: -webkit-linear-gradient(#cfcfcf,#f5f5f5);
background: linear-gradient(#cfcfcf,#f5f5f5);
font-size: 19px;
color: #656565;
font-weight: 500;
margin-top: -1px;
}

.button:hover
{
background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#cfcfcf));
background: -webkit-linear-gradient(#f5f5f5,#cfcfcf);
background: linear-gradient(#f5f5f5,#cfcfcf);
};

.button:active
{
background: #44AAFF
};