#leftpane
{

background: blue;
position: absolute;
top: 0px;
height: 100%;
width: 250px;


}

#rightpane
{
	background: black;
position: absolute;
top: 0px;
height: 100%;
left: 250px;
right: 0%;
}

body
{
	margin:0px;
overflow: hidden;
height: 100%;
position: absolute;
width: 100%;
}

#runningworlds
{
border-bottom: 15px inset #EEE;
min-height: 1em;
background: #DDE;
height: 25%;
overflow-x: hidden;
overflow-y: scroll;
}
#allworlds
{
	background: #DDE;
bottom: 100%;
width: 100%;
height: 75%;

overflow-x: hidden;
overflow-y: scroll;
}
#previewpane
{
height: 50%;
background: black;

width: 65%;
margin-left: auto;
margin-right: auto;
}
#datapane
{
	
top: 50%;
height: 50%;
background: #DDE;
width: 100%;
}

.allstate
{
	color: white;
}

.runningstate
{
	
	color: #449;
	text-shadow: 0px 0px 3px white;
}
.runningstate:hover
{
	
}
.state
{
font-family: sans-serif;
font-size: 1.3em;
border: 1px solid #BBF;
margin: 2px;
background: #bbF;
border-radius: 10px 10px 10px 10px;
text-shadow: 0px 0px 3px black;
cursor: pointer;
white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.state::before
{
display: inline-block;
width: 20px;
color: gray;
content: '-';
background: gray;
white-space: nowrap;
text-overflow: initial;
margin-right: 1em;
border-radius: 10px 0px 0px 10px;
text-shadow: none;
border-right: 2px solid black;
}
.allstate:hover
{
	background: #66B;
}

#currentWorld
{
	width: 100%;
	height: 100%;
}

#datalist
{
	background: white;
	height: 90%;
	border-top: 15px solid #EEE;
	overflow-y: auto;
}

.message
{
overflow: hidden;
white-space: nowrap;
border-bottom: 1px solid #FFF;
font-family: sans-serif;
padding: 2px 2px 2px 0px;
background: #EFEFEF;
}
.message:hover
{
outline:1px solid blue;

}
.message::before
{
width: 10px;
content: 'a';
color: #EEE;
background: #EEE;
border-radius: 0px 5px 5px 0px;
margin-right: .3em;
}

.messagefield
{
	
display: inline-block;
width: 20%;
font-weight: bold;
overflow: hidden;
vertical-align: top;
text-overflow: ellipsis;
}

.messagefield::after
{
	
	
}
.status
{
	background: lightblue;
}
.createNode
{
	background: green;
}
.fireEvent
{
	background: lightsteelblue;
}
.dispatchEvent
{
	background: lightsteelblue;
}
.deleteNode
{
	background: red;
}
.createChild
{
	background: green;
}
.callMethod
{
	background: lightyellow;
}
.setProperty
{
	background: lightgreen;
}
.createProperty
{
	background: lightgreen;
}
.createMethod
{
	background: lightgreen;
}
.createEvent
{
	background: lightgreen;
}
.deleteEvent
{
	background: pink;
}
.deleteMethod
{
	background: pink;
}
.fieldaction
{
	width: 15%;
}
.fieldclient
{
	
}
.fieldnode
{
	width: 20%;
}
.fieldtime
{
	width: 10%;	
}

.fieldtime::before
{
	
}

.fieldaction::before
{
	content: 'Action:';
margin-right: 1em;
font-weight: normal;
color: gray;
}
.fieldclient::before
{
	content: 'Client:';
margin-right: 1em;
font-weight: normal;
color: gray;
}
.fieldnode::before
{
	content: 'Node:';
margin-right: 1em;
font-weight: normal;
color: gray;
}
.fieldtime::before
{content: 'Time:';
margin-right: 1em;
font-weight: normal;
color: gray;
	
}
.fieldtime::after
{content: 'ms';
	
}

.fieldparam0
{

	color:grey;
}


.fieldfield
{
	width: 13%;
}

.fieldfield::before
{
	content: 'Field:';
	margin-right: 1em;
	font-weight: normal;
	color: gray;
}

.fieldparam0::before
{
	content: 'Param 0:';
	margin-right: 1em;
	font-weight: normal;
	color: gray;
}