<div class="row" data-bind="foreach:avatarInfo">
	<!-- ko foreach: $root.makeAvatarArr($data) -->
		<div class="col-md-2">
			<div class="row avatarchoice" data-bind="click:function(data, e){$root.handleAvatarClick({obj:data, parent:$parent}, e)}">
				<img data-bind="attr:{src:'./avatars/' + $parent.texture + $data[0] +'-'+ $data[1] +'.png'}">
			</div>
		</div>
	<!-- /ko -->
</div>

<script type="text/javascript">
	//model and texture are self explanatory, but the format of texturesArr is as follows:
	//The length of texturesArr should be equal to the number of DAE files given a base model name 
	//Each element in texturesArr should be the number of textures that correspond to a base model
	//For example: There exist VWS_Business_Female1.DAE and VWS_Business_Female2.DAE (so the length of texturesArr is 2)
	//VWS_Business_Female1.DAE has 3 different textures (texturesArr[0]) while VWS_Business_Female2.DAE only has 1 (texturesArr[1])
	vwfPortalModel.avatarInfo = [
		{model: "VWS_Business_Female", texture: 'VWS_B_Female', texturesArr: [3, 1]},
		{model: "VWS_Business_Male", texture: 'VWS_B_Male', texturesArr: [2, 4]}
	];
	
	vwfPortalModel.makeAvatarArr = function(obj){
		var arr = [], rollingSum = 0, g = 0,
		sum = obj.texturesArr.reduce(function(prev, curr){
			return prev + curr;
		});
		
		for(var i = 0; i < sum; i++){
			if(i >= rollingSum + obj.texturesArr[g]){
				rollingSum += obj.texturesArr[g++];
			}
			
			arr.push([g + 1, i - rollingSum + 1]);
		}

		return arr;
	};
	
	vwfPortalModel.handleAvatarClick = function(obj, parent){
	
		console.log(obj, parent);
	};
	
	var EncryptPassword = function (password, username,salt)
	{
		var unencrpytedpassword = password + username + salt;
		for (var i = 0; i < 1000; i++)
		{
			unencrpytedpassword = CryptoJS.SHA256(unencrpytedpassword) + '';
		}
		return unencrpytedpassword;
	}
	
	$(document).ready(function()
	{
		getLoginInfo(function(){
		
			var UID = vwfPortalModel.user().username;
			var profile;
			var data = jQuery.ajax(
				{
					type: 'GET',
					url:  root + '/vwfDataManager.svc/Profile?UID='+UID,
					data: null,
					success: null,
					async: false,
					dataType: "json"
				});
				if (data.status == 200)
				{
					try
					{
						data = JSON.parse(data.responseText);
						profile = data;
						
					}
					catch (e)
					{
						return data.responseText;
					}
				}
				else
				{
					return data.responseText;
				}

				

				$('.avatarchoice').click(
					function()
					{
						$('.avatarchoice').css('border','');
						$('.avatarchoice').css('padding','');
						$(this).css('border','1px solid blue');
						$(this).css('padding','0px');

						profile.avatarModel = $(this).attr('data-model');
						profile.avatarTexture = $(this).attr('data-texture');
						var data = JSON.stringify(profile);
						
						jQuery.ajax(
						{

							type: 'POST',
							url:  root + '/vwfDataManager.svc/Profile?UID='+UID,
							data: JSON.stringify(profile),
							success: null,
							async: false,
							dataType: "text"
						});

					});

				$("[data-model='"+profile.avatarModel+"']").filter("[data-texture='"+profile.avatarTexture+"']").css('border','1px solid blue');
				$("[data-model='"+profile.avatarModel+"']").filter("[data-texture='"+profile.avatarTexture+"']").css('padding','0px');

				vwfPortalModel.usersPage = true;
		ko.applyBindings(vwfPortalModel);
			
		}, redirect);
	});	
	
	function redirect()
	{
		var ret = window.location.search.substr(window.location.search.indexOf('=')+1);
		window.location = ret.charAt(0) == '/' ? root + ret : root + '/' + ret;
	}
</script>


		
