<script type="text/javascript">
	var sid = '{{sid}}'; 
	$(document).ready(function()
	{

		vwfPortalModel.publishSettings = {
			'title': ko.observable(),
			'description': ko.observable(),
			'publish': ko.observable(false),
			'allowTools': ko.observable(false),
			'singlePlayer': ko.observable(false),
			'allowAnonymous': ko.observable(false),
			'createAvatar': ko.observable(false),
			'defaultCamera': ko.observable(true),
			'camera': ko.observable('')
		};

		vwfPortalModel.publishSettings.anonUsersChecked = ko.computed({
			'read': function(){
				return this.singlePlayer() || this.allowAnonymous();
			}
			.bind(vwfPortalModel.publishSettings),

			'write': function(val){
				this.allowAnonymous(val);
			}
			.bind(vwfPortalModel.publishSettings)
		});

		vwfPortalModel.publishSettings.anonUsersEnabled = ko.computed(function(){
			return this.publish() && !this.singlePlayer();
		}
		.bind(vwfPortalModel.publishSettings));


		$.ajax(root + '/vwfDataManager.svc/statedata?SID=' + sid,
		{
			cache:false,
			success:function(data,status,xhr)
			{
				var data = JSON.parse(xhr.responseText);
				var p = vwfPortalModel.publishSettings;

				p.title(data.title);
				p.description(data.description);
				p.publish( !! data.publishSettings );

				if( data.publishSettings )
				{
					p.allowAnonymous( data.publishSettings.allowAnonymous );
					p.allowTools( data.publishSettings.allowTools );
					p.singlePlayer( data.publishSettings.singlePlayer );
					p.createAvatar( data.publishSettings.createAvatar );
					p.defaultCamera( data.publishSettings.camera === '' );
					p.camera( data.publishSettings.camera );
				}

			},
			error:function(xhr,status,err)
			{
				$('#error').text("Error: " + xhr.responseText);
			}
		});

		// query cameras in the scene
		vwfPortalModel.cameraList = ko.observableArray();
		$.ajax(root + '/vwfDataManager.svc/cameras?SID=' + sid, {
			cache: false,
			success: function(data,status,xhr){
				vwfPortalModel.cameraList(data);
			},
			error: function(status,xhr,err){
				$('#error').text("Error: " + xhr.responseText);
			}
		});

		ko.applyBindings(vwfPortalModel);
	});	

	function redirect()
	{
		window.location = root + '/world/' + sid.substr(13, 16);
	}

	vwfPortalModel.handleEditButton = function(o, e){

		var statedata = {};

		var p = vwfPortalModel.publishSettings;
		if( p.publish() ){
			statedata.title = p.title();
			statedata.description = p.description();
			statedata.SinglePlayer = p.singlePlayer();
			statedata.camera = p.defaultCamera() ? '' : p.camera();
			statedata.allowAnonymous = p.allowAnonymous();
			statedata.createAvatar = p.createAvatar();
			statedata.allowTools = p.allowTools();
		}
		else
			statedata = null;

		jQuery.ajax(
		{
			type: 'POST',
			url: root + '/vwfDataManager.svc/publish?SID='+sid,
			data: JSON.stringify(statedata),
			success:function(data,status,xhr)
			{
				redirect();
			},
			error:function(xhr,status,err)
			{
				
				$('#error').text("Error: " + xhr.responseText);
			},
			dataType: "text"
		});
	};

</script>
	<div class="row">
		
		

	</div>
<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<form id='publishSettings' data-bind="submit:handleEditButton, with: $root.publishSettings" >
			<fieldset>
				<legend>Publish Settings</legend>

				<input type='text' id='txtInstanceName' placeholder='World Name' class="col-md-5 form-control" 
					data-bind='enable: publish, value: title'/>
				<textarea id='txtInstanceDescription' placeholder='Description' class="col-md-5 form-control" 
					data-bind='enable: publish, value: description'></textarea>
				<label>
					<input type='checkbox' id='chkPublish' name='PublishWorld' data-bind='checked: publish'></input>
					Publish World</label>
				<label>
					<input type='checkbox' id='chkAllowTools' name='AllowTools' data-bind='checked: allowTools, enable: publish'></input> 
					Allow Editor Tools</label>
				<label>
					<input type='checkbox' id='chkSinglePlayer' name='SinglePlayer' data-bind='checked: singlePlayer, enable: publish'></input> 
					Single Player</label>
				<label>
					<input type='checkbox' id='chkAllowAnonymous'  name='AllowAnonymous' data-bind='checked: anonUsersChecked, enable: anonUsersEnabled'></input> 
					Allow Anonymous Users</label>
				<label>
					<input type='checkbox' id='chkCreateAvatar' name='CreateAvatar' data-bind='checked: createAvatar, enable: publish'></input> 
					Create Avatar for Each User</label>
				<label>
					<input type='checkbox' id='chkDefaultCamera' name='DefaultCamera' data-bind='checked: defaultCamera, enable: publish'></input> 
					Use Default Camera</label>
				<select id='txtCamera' class="col-md-5 form-control" name="Camera" 
					data-bind='options: $root.cameraList, optionsText: "name", optionsValue: "id", value: camera, visible: !defaultCamera()'></select>
				<label>
					<input type='checkbox' id='chkPublishToLR' name='PublishToLR' data-bind='enabled: publish'></input> 
					Publish to Learning Registry</label>

				<input type="submit" class='btn btn-default' style="float:right;margin-top:7px;"  value="Publish"/>

			</fieldset>
		</form>
	</div>
</div>
<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>
