<script type="text/javascript">
	var sid = '{{sid}}'; 
	$(document).ready(function()
	{

		vwfPortalModel.publishSettings = {
			'title': ko.observable(),
			'description': ko.observable(),
			'publish': ko.observable(false),
			'allowTools': ko.observable(false),
			'singlePlayer': ko.observable(false),
			'allowAnonymous': ko.observable(false),
			'createAvatar': ko.observable(false),
			'defaultCamera': ko.observable(true),
			'camera': ko.observable(''),

		};

		vwfPortalModel.lrPublishSettings = {
			'publishToLR': ko.observable(false),
			'authorName': ko.observable(''),
			'authorEmail': ko.observable(''),
			'subject': ko.observable(''),
			'grade': ko.observableArray(),
			'resourceType': ko.observableArray(),
			'interactivity': ko.observable(''),
			'alignment': ko.observable('')
		};

		vwfPortalModel.publishSettings.anonUsersChecked = ko.computed({
			'read': function(){
				return this.singlePlayer() || this.allowAnonymous();
			}
			.bind(vwfPortalModel.publishSettings),

			'write': function(val){
				this.allowAnonymous(val);
			}
			.bind(vwfPortalModel.publishSettings)
		});

		vwfPortalModel.publishSettings.anonUsersEnabled = ko.computed(function(){
			return this.publish() && !this.singlePlayer();
		}
		.bind(vwfPortalModel.publishSettings));

		$.ajax(root + '/vwfDataManager.svc/statedata?SID=' + sid,
		{
			cache:false,
			success:function(data,status,xhr)
			{
				var data = JSON.parse(xhr.responseText);
				var p = vwfPortalModel.publishSettings;

				p.title(data.title);
				p.description(data.description);
				p.publish( !! data.publishSettings );

				if( data.publishSettings )
				{
					p.allowAnonymous( data.publishSettings.allowAnonymous );
					p.allowTools( data.publishSettings.allowTools );
					p.singlePlayer( data.publishSettings.singlePlayer );
					p.createAvatar( data.publishSettings.createAvatar );
					p.defaultCamera( data.publishSettings.camera === '' );
					p.camera( data.publishSettings.camera );
				}
			/*		author name/email
					publisher name/email (sandbox maintainer info, static)

					resource title/description/url (given above)
					subject
					grade
					date created/modified
					media type (other)
					learning resource type (assessment/demonstration/game/simulation)
					interactivity (interactive/passive)
					alignment*/

				var lrp = vwfPortalModel.lrPublishSettings;
				if( data.publishSettings && data.publishSettings.lrData )
				{
					lrp.publishToLR(false);
					lrp.authorName( data.publishSettings.lrData.authorName );
					lrp.subject( data.publishSettings.lrData.subject );
					lrp.grade( data.publishSettings.lrData.grade );
					lrp.resourceType( data.publishSettings.lrData.resourceType );
					lrp.interactivity( data.publishSettings.lrData.interactivity );
				}
			},
			error:function(xhr,status,err)
			{
				$('#error').text("Error: " + xhr.responseText);
			}
		});

		getLoginInfo(function(){

			$.ajax(root + '/vwfDataManager.svc/profile?UID=' + vwfPortalModel.user().username, {
				cache: false,
				success: function(data,status,xhr){
					data = JSON.parse(data);
					vwfPortalModel.lrPublishSettings.authorEmail( data['Email'] );
				},
				error: function(status,xhr,err){
					$('#error').text("Error: " + xhr.responseText);
				}
			});
		});

		// query cameras in the scene
		vwfPortalModel.cameraList = ko.observableArray();
		$.ajax(root + '/vwfDataManager.svc/cameras?SID=' + sid, {
			cache: false,
			success: function(data,status,xhr){
				vwfPortalModel.cameraList(data);
			},
			error: function(status,xhr,err){
				$('#error').text("Error: " + xhr.responseText);
			}
		});

		ko.applyBindings(vwfPortalModel);
	});	

	function redirect()
	{
		window.location = root + '/world/' + sid.substr(13, 16);
	}

	vwfPortalModel.handleEditButton = function(o, e){

		var p = vwfPortalModel.publishSettings;
		var lrp = vwfPortalModel.lrPublishSettings;
		var statedata;

		if( p.publish() || lrp.publishToLR() )
			statedata = {};
		else
			statedata = null;


		if( p.publish() )
		{
			statedata.title = p.title();
			statedata.description = p.description();
			statedata.SinglePlayer = p.singlePlayer();
			statedata.camera = p.defaultCamera() ? '' : p.camera();
			statedata.allowAnonymous = p.allowAnonymous();
			statedata.createAvatar = p.createAvatar();
			statedata.allowTools = p.allowTools();
		}
		if( lrp.publishToLR() )
		{
			/*
			data needed:

			author name/email
			publisher name/email (sandbox maintainer info, static)

			resource title/description/url (given above)
			subject
			grade
			date created/modified
			media type (other)
			learning resource type (assessment/demonstration/game/simulation)
			interactivity (interactive/passive)
			alignment
			*/

			statedata.lrData = {
				'resourceUrl': null,
				'dateCreated': null,
				'mediaType': 'other',
				
			};

			if(lrp.authorName())
				statedata.lrData.authorName = lrp.authorName();
			if(lrp.authorEmail())
				statedata.lrData.authorEmail = lrp.authorEmail();
			if(p.title())
				statedata.lrData.title = p.title();
			if(p.description())
				statedata.lrData.description = p.description();
			if(lrp.subject())
				statedata.lrData.subject = lrp.subject();
			if(lrp.grade().length > 0)
				statedata.lrData.grade = lrp.grade();
			if(lrp.resourceType().length > 0)
				statedata.lrData.resourceType = lrp.resourceType();
			if(lrp.interactivity())
				statedata.lrData.interactivity = lrp.interactivity();
		}

		jQuery.ajax(
		{
			type: 'POST',
			url: root + '/vwfDataManager.svc/publish?SID='+sid,
			data: JSON.stringify(statedata),
			success:function(data,status,xhr)
			{
				console.log('Sent');
				//redirect();
			},
			error:function(xhr,status,err)
			{
				
				$('#error').text("Error: " + xhr.responseText);
			},
			dataType: "text"
		});
	};

	
</script>
	<div class="row">
		
		

	</div>
<div class="row">
	<div class="col-md-5 col-md-offset-3">
		<form id='publishSettings' data-bind="submit:handleEditButton, with: $root.publishSettings" >
			<fieldset>
				<legend>Publish Settings</legend>

				<input type='text' id='txtInstanceName' placeholder='World Name' class="col-md-5 form-control" 
					data-bind='enable: publish, value: title'/>
				<textarea id='txtInstanceDescription' placeholder='Description' class="col-md-5 form-control" 
					data-bind='enable: publish, value: description'></textarea>
				<label>
					<input type='checkbox' id='chkPublish' name='PublishWorld' data-bind='checked: publish'></input>
					Publish World</label>
				<label>
					<input type='checkbox' id='chkAllowTools' name='AllowTools' data-bind='checked: allowTools, enable: publish'></input> 
					Allow Editor Tools</label>
				<label>
					<input type='checkbox' id='chkSinglePlayer' name='SinglePlayer' data-bind='checked: singlePlayer, enable: publish'></input> 
					Single Player</label>
				<label>
					<input type='checkbox' id='chkAllowAnonymous'  name='AllowAnonymous' data-bind='checked: anonUsersChecked, enable: anonUsersEnabled'></input> 
					Allow Anonymous Users</label>
				<label>
					<input type='checkbox' id='chkCreateAvatar' name='CreateAvatar' data-bind='checked: createAvatar, enable: publish'></input> 
					Create Avatar for Each User</label>
				<label>
					<input type='checkbox' id='chkDefaultCamera' name='DefaultCamera' data-bind='checked: defaultCamera, enable: publish'></input> 
					Use Default Camera</label>
				<select id='txtCamera' class="col-md-5 form-control" name="Camera" 
					data-bind='options: $root.cameraList, optionsText: "name", optionsValue: "id", value: camera, visible: !defaultCamera()'></select>

			</fieldset>
			<fieldset data-bind='with: $root.lrPublishSettings'>
				<legend>Learning Registry Settings</legend>
				<p>The <a href='http://learningregistry.org' target='_blank'>Learning Registry</a> is a list of online resources associated with
					particular learning activities. If you consider your world an educational experience, this may be a good option to check.
				</p><p>
					If you choose to publish to the Learning Registry, your name and email address will be shared with the Registry (and by extension with the public)
					as a point of contact.
				</p>

				<label>
					<input type='checkbox' id='chkPublishToLR' data-bind='checked: publishToLR'></input>
					Publish to Learning Registry
				</label>

				<div class="container" id="lrPublishSettings">

					<div class="row">
						<div class="col-md-4"><label for='authorName'>Author Name</label></div>
						<div class="col-md-8"><input type='text' placeholder='Author C. Clarke' id='authorName' style="width:100%;" data-bind="enable: publishToLR"/></div>
					</div>
					<div class="row">
						<div class="col-md-4"><label for='authorEmail'>Author Email</label></div>
						<div class="col-md-8"><input type='email' placeholder='author@example.com' id='authorEmail' style="width:100%;" data-bind="enable: publishToLR, value: authorEmail"/></div>
					</div>
					<div class="row">
						<div class="col-md-4"><label for='subject'>Subject</label></div>
						<div class="col-md-8"><input type='text' placeholder='Subject' id='subject' style='width:100%;' data-bind='enable: publishToLR, value: subject'/></div>
					</div>
					<div class="row">
						<div class="col-md-4"><label for='subject'>Grade<br/>(0 or more)</label></div>
						<div class="col-md-8"><select id='subject', style='width: 100%; height: 100px;', multiple="true",
							data-bind='enable: publishToLR, selectedOptions: grade, options: ["","Pre-K","Kindergarten",1,2,3,4,5,6,7,8,9,10,11,12]'>
						</select></div>
					</div>
					<div class="row">
						<div class="col-md-4"><label for='resourceType'>Resource Type<br/>(0 or more)</label></div>
						<div class="col-md-8"><select id='resourceType', style='width: 100%; height: 100px;', multiple="true",
							data-bind='enable: publishToLR, selectedOptions: resourceType, options: ["","Assessment","Demonstration","Game","Simulation"]'>
						</select></div>
					</div>
					<div class="row">
						<div class="col-md-4"><label for='interactivity'>Interactivity</label></div>
						<div class="col-md-8"><select id='interactivity', style='width: 100%;',
							data-bind='enable: publishToLR, value: interactivity, options: ["","Interactive","Passive"]'>
						</select></div>
					</div>

					<!--
					data needed:

					author name/email
					publisher name/email (sandbox maintainer info, static)

					resource title/description/url (given above)
					subject
					grade
					date created/modified
					media type (other)
					learning resource type (assessment/demonstration/game/simulation)
					interactivity (interactive/passive)
					alignment
					-->

				</div>
			</fieldset>
			<input type="submit" class='btn btn-default' value="Publish"/>
		</form>
	</div>
</div>
<div class="row">	
	<div id='error' style="margin-top: 20px;margin-bottom:20px;font-size: 3EM;color: red;" class="span12"></div>
</div>
