	{{#world}}
	<div class="row">
		<div class="col-md-12">
			<h1>{{title}}</h1>
		</div>
	</div>
	<div class="row" style="margin-bottom: 15px">
		
		
	
		<div class="col-md-7">
			
			
				<h3><a href="" data-bind="attr:{href:'{{root}}'}">{{owner}}</a></h3>
				<h4 data-bind="text:moment('{{created}}').format('MMM DD, YYYY')"></h4>
				<img src="{{root}}/img/placeholder.png"/>

			
		</div>
		<div class="col-md-3 col-md-offset-2" style="padding:20px">
			<div class="worldOptions">
				<div class="singleOption launchWorld">
					<p class="glyphicon glyphicon-globe"></p>
					<p class="optionText">Launch world</p>
				</div>
				<div class="singleOption">
					<p class="glyphicon glyphicon-pencil"></p>
					<p class="optionText">Edit world</p>
				</div>
				<div class="singleOption">
					<p class="glyphicon glyphicon-export"></p>
					<p class="optionText">Clone world</p>
				</div>
				<div class="singleOption" style="border-bottom:1px #E6E6E6 solid;border-radius:0 0 5px 5px;">
					<p class="glyphicon glyphicon-print"></p>
					<p class="optionText">Publish world</p>
				</div>

			</div>
			<div class="worldOptions" style="margin-top:20px;border:none;">
				<div class="singleOption deleteWorld">
					<p class="glyphicon glyphicon-remove"></p>
					<p class="optionText">Delete world</p>
				</div>
			</div>
		</div>
	</div>
	<script>
		//vwfPortalModel.currentInstance = JSON.parse({{world}});
		var date = '{{created}}';
		vwfPortalModel.momentRef = moment;
		$(document).ready(function(){	
			
			vwfPortalModel.cloneWorld = function(world){
				alertify.confirm("Copy this world?", function(e){
					if(e){
						
						$.get(root + '/vwfDataManager.svc/copyinstance?SID=' + world.id, function(o){
			
							if(o){
								window.location = root + '/edit?id=' + o.substr(13,16);
							}

							else{
								alertify.error("World was not successfully copied.");
							}
						})
						.error(function(){
							alertify.error("World was not successfully copied.");
						});
					}
				});	
			};
			
			ko.applyBindings(vwfPortalModel);
			getLoginInfo(function(){				
				showStates();

				window.setInterval(function(){
					showStates();
				},15000);
			});
		});
	</script>
	    <div id="disqus_thread"></div>
	    <script type="text/javascript">
		/* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
		var disqus_shortname = 'vwfsandbox'; // required: replace example with your forum shortname

		/* * * DON'T EDIT BELOW THIS LINE * * */
		(function() {
		    var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
		    dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
		    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    
	
	{{/world}}
	